<div class="calender">
<div class="main">
  <img src="assets/1293946.svg" alt="" class="first-monk" width="120px" height="155px">
  <div class="text-logo"><img src="assets/comp-calender-main.png" alt=""></div>
  <div class="content">
    <h1 class="content-primary"><span>Incorporated a company?</span> <br> </h1>
    <h1 class="content-primary">Know legal requirements and dates <br> the company must keep to avoid legal sanctions</h1>
    <p class="content-secondary">It's quick and easy &rarr;</p>
      <form class="form-fill" [formGroup]="dataForm" (ngSubmit)="submit()">
        <input list="types" type="text" formControlName="company_type" placeholder="Select Company Type 👉">
        <datalist id="types">
          <option value="private">
          <option value="public">
        </datalist>
        <input type="text" onfocus="(this.type = 'date')" formControlName="date_incorporated" placeholder="Date Incorporated? 👉">
        <button [disabled]="dataForm.invalid">Submit</button>
      </form>
  </div>
  <div class="second-monk">
    <img src="assets/calender.svg" alt="" width="371px" height="478px">
  </div>
</div>
<app-data></app-data>
</div>