<div class="data-box">
    <div class="box">
        <h3>STAT <br> Meeting</h3>
        <h4>21 Days <br> remaining</h4>
        <p>May 2nd, 2022</p>
    </div>
    <div class="box">
        <h3>AGM <br> Meeting</h3>
        <h4>21 Days <br> remaining</h4>
        <p>May 2nd, 2022</p>
    </div>
    <div class="box">
        <h3>BOD <br> Meeting</h3>
        <h4>21 Days <br> remaining</h4>
        <p>May 2nd, 2022</p>
    </div>
    <div class="box">
        <h3>Annual <br> Returns</h3>
        <h4>21 Days <br> remaining</h4>
        <p>May 2nd, 2022</p>
    </div>
</div>
